# Visual Studio transient folders and files

[Dd]ebug/
[Rr]elease/
x86/
x64/
.vs/
*.suo
*.user

# Libraries

libraries/

# Prerequisites

*.d

# Compiled object files

*.slo
*.lo
*.o
*.obj

# Precompiled headers

*.gch
*.pch

# Compiled dynamic libraries

*.so
*.dylib
*.dll

# Executables

*.exe
*.out
*.app


